body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.calculator-box {
    border: 1px solid #159ab7;
    width: 270px;
   
}

.result {
    background-color: #159ab7;
    height: 20px;
    color: white;
    padding: 20px;
    font-size: 30px;
    text-align: right;
  
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    padding: 25px;
    background-color: whitesmoke;
    border: 1px solid #acdbdf;
    font-size: 25px;
}

.button:hover {
    background-color: #d7eaea;
}
